apiVersion: apps/v1
kind: Deployment
metadata:
  name: py-deployment
  labels:
    app: pyapp
spec:
  replicas: 5
  selector:
    matchLabels:
      app: pyapp
  template:
    metadata:
      labels:
        app: pyapp
    spec:
      containers:
      - name: python-container
        image: python:3.9.25-alpine3.22
        ports:
        - containerPort: 5000
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "200m"
            memory: "256Mi"