apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-deployment
  labels:
    app: goapp
spec:
  replicas: 5
  selector:
    matchLabels:
      app: goapp
  template:
    metadata:
      labels:
        app: goapp
    spec:
      containers:
      - name: go-container
        image: golang:1.24.2 
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "200m"
            memory: "256Mi"